In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [7]:
with open('./10-q_rate.txt') as f:
    TenQ_1 = [tuple(line.strip().split(',')) for line in f]

In [9]:
df = pd.DataFrame(TenQ_1)
df.columns = ['Sector', 'Total', 'Failed']

In [12]:
df

       Sector  Total Failed
0      Energy    901    368
1  Healthcare   1853    579
2   Financial   2136    536